@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

#header{
    margin-bottom: 65px;
}
#footer {
    margin-top: 65px;
}

#content {
    padding-left: 50px;
    padding-right: 50px;
}


#myCarousel .item img {
	display: block;
	width:100%;
	height: auto%;
}
div.jumbotron > center h1,div.jumbotron >center p {
	font-family: Gloria Hallelujah;
}
